html {
    scroll-behavior: auto;   
}
.wrapper{ display:flex; transition:.5s; }
section{ flex:0 0 100vw; height:100vh; }
nav {
    background: #bebdbd;
    padding: 10px;
    position: sticky;  
    top: 0;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
            }
section {
    height: 100vh; 
    padding: 50px;
            }       
            
/* 锁死真滚动 */
html,body{height:100%;overflow:hidden;margin:0;}

/* 全屏幻灯片 */
main{position:relative;width:100%;height:100%;}
.slide{
  position:absolute;inset:0;   /* 上下左右全撑满 */
  background:#fff;             /* 每页底色 */
  display:none;                /* 默认全藏 */
}
.slide.active{display:block;}  /* 谁有.active谁出现 */
