nav {
    background: #bebdbd;
    padding: 10px;
    position: sticky;  
    top: 0;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
            }
section {
    height: 100vh; 
    padding: 50px;
            }           